@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}


.content {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftlinksone {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.rightlinksone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17%;
  background-color:lightgrey;
  flex: 0 0 0%;
}

.leftlinkstwo {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  
}

.rightlinkstwo {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px;
  
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}